html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.4;

}
body {
    color: #000000;
    font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
    background-color: white;
    padding: 1rem;
}
.ccha{
display: flex;
flex-wrap: wrap;
padding: 20px;
background-color: #fff;
margin-left: auto;
margin-right: auto;
max-width: 1080px;
border-radius: 8px;}
.Buscar{
    font-size: 18px;
    color:black;
    outline: none;
    margin-top: 5%;
    float: left;
    font-family: 'Playfair Display', serif;
    margin-left: 500%;
}
.encabezado{
background-color: #3A9164;
height: 80px;
position: fixed;
width: 100%;
top: 0;
left: 0;
font-family: 'Playfair Display', serif;

}
body{
    font-family: sans-serif;
    padding: 90px 20px 0;
    font-family: 'Playfair Display', serif;
}
.nav{
    display: inline-flex;
    justify-content: space-between;
    padding: 1%;
    font-family: 'Playfair Display', serif;
}
.Logo{
 text-decoration: none;
 color: rgb(255, 255, 255);
 margin-right: 4%;
 height: 50px;
 width: 150px;
 text-align: center;
 background-color: #1f4a34;
 font-family: 'Playfair Display', serif;
 box-shadow: 1px 1px 1px 1px black;
 font-size: 25px;
}
.menu{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    float: right;
}
.Carrito, .Chat, .Perfil{
    margin-right: 5%;
    margin-top: 2%;
}
.Carrito{
    margin-left: 280%;
}
.contenedor{
    padding: 10px;
}
footer{
    background-color: #3A9164;
    position: relative;
    bottom: -30px;
}
.pie{
    height: 200px;
    list-style: none;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}
.pie1,.pie2{
    display: flow-root;
}
.logo2{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 1%;
    height: 50px;
    width: 150px;
    text-align: center;
    background-color: #1f4a34;
    font-family: 'Playfair Display', serif;
    box-shadow: 1px 1px 1px 1px black;
    float: right;
    margin-top:3%;
    margin-right: 10%;
    display: flow-root;
}
.derechos{
    margin-bottom: 5%;
    float: right;
    margin-right: 5%;
}
.pie1{
    margin-left: 3%;
}
#carr, #Carr{
    display: inline-flex;
    margin-left: 3%;
}
#Carr{
    margin-top: 1%;
}
.t1{
    margin-bottom: 1%;
}
aside{
    background-color: #96A79F;
    width: 90%;
    border: 1px solid black;
    text-align: center;
    padding: 3%;
    margin-left: 2%;
    margin-bottom: 2%;
}
.sec1{
    display: inline-flex;
}
.sec11{
margin-right: 2%;
text-align: center;
display: grid;
}
.a{
    margin-right: 2%;
    text-align: center;
    background-color: #3A9164;
    padding: 1%;
    border: 1px solid #000000;
    margin-bottom: 2%;
}
#e{
    color: blue;
}